.tittle{
  display: flex;
  align-items: end;
  margin-bottom: 3vh;
}

.tittle svg{
  margin-bottom: -7px;
}

.tittle span{
  margin-left: .6%;
  margin-bottom: -9px;
  white-space: nowrap; 
  font-size: 22px;
}

.line{
  background-image: linear-gradient(to right, rgba(64, 12, 46, 1),rgba(217, 30, 80, 1),rgba(140, 3, 78, 1),rgba(217, 20, 112, 1),rgba(217, 30, 80, 1),rgba(115, 2, 23, 1));
  width: 100%;
  height: 1px;
  margin-left: .6%;
  border-radius: 30px;
}


/* Telas Pequenas */
@media(max-width: 480px) {
  .tittle svg{
    display: none;
  }

  .tittle span{
    margin-left: 0%;
    font-size: 18px;
  }
}
