body{
  background: rgb(181,4,26);
  background: linear-gradient(0deg, rgba(181,4,26,1) 0%, rgba(44,1,18,1) 50%, rgba(13,0,0,1) 100%);
  padding: 0px 20px 0px 20px;
  font-family: "Kantumruy Pro", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

